.card-list {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 20px;
  row-gap: 80px;
  padding: 40px 20px;
}

@media screen and (max-width: 1000px)
{
  .card-list {
  grid-template-columns: repeat(2, 1fr);
  width: 750px;
  column-gap: 40px;
  row-gap: 100px;
  padding: 10px;
  }
}
@media screen and (max-width: 800px)
{
  .card-list {
  grid-template-columns: 2fr;
  grid-gap: 15px;
  width: 310px;
  row-gap: 120px;
  padding: 0;
  }
}
